{% extends 'base.html.twig' %}
{% block title %}{{parent()}}0% remboursé{% endblock %}
{% block body %}
<h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">REMBOURSÉ À 0%</h1>
{% endblock %}