{% extends 'base.html.twig' %}
{% block title %}{{parent()}}{% endblock %}
{% block body %}
 <h2 class="text-center text-secondary mb-4 pb-4"> <font size="10"> OptiChic </font> </h2>
 <h2 class="text-center text-secondary mb-4 pb-4 display-2"> <font size="6"> Votre vision, notre élégance ! </font> </h2>
 <h2 class="text-center"> <i class="bi bi-cloud-arrow-up-fill text-primary" ></i><i class="bi bi-folder text-secondary"></i><i class="bi bi-cloud-arrow-down-fill text-warning"></i></h2>

<div id="carouselExampleInterval" class="carousel slide mx-auto mt-4 pt-4 fw-bold" data-bs-ride="carousel" style="width:60rem">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <img src="image/LunetteF1.jpg" class="d-block w-100" height="500">
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="image/LunetteFille1.jpg" class="d-block w-100" height="500">
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="image/LunetteH1.jpg" class="d-block w-100" height="500">
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="image/LunettesG1.jpg" class="d-block w-100" height="500">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock %}


