{% extends 'base.html.twig' %}
{% block title %}{{parent()}}Lunettes pour femme{% endblock %}
{% block body %}
<h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">LUNETTES POUR FEMME</h1>
{% endblock %}