{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Mentions Légales{% endblock %}

{% block body %}
    <div class="container">
	    <h2 class="text-center text-secondary mb-4 pb-4 display-2">
        	<font size="10">
                Mentions légales
            </font>
        </h2>

        <h2>Éditeur du site</h2>
        <p>Nom : Léa Rompteaux</p>
        <p>Email : leaaa1965@gmail.com</p>
        <p>Hébergeur du site : nuage-pédagogique</p>

        <h2>Conditions Générales de Vente</h2>
        <p>Ces conditions générales de vente (CGV) régissent les relations entre l'entreprise et ses clients.</p>

        <h2>Propriété intellectuelle</h2>
        <p>Tous les contenus de ce site, y compris les textes, les images, les logos, etc., sont la propriété intellectuelle de l'entreprise et sont protégés par les lois sur les droits d'auteur.</p>

        <h2>Protection des données personnelles</h2>
        <p>Ce site collecte et traite les données personnelles conformément à la réglementation en vigueur sur la protection des données (RGPD). Pour plus d'informations, veuillez consulter notre politique de confidentialité.</p>

        <h2>Responsabilité</h2>
        <p>On s'efforce de fournir des informations précises et à jour sur ce site, mais ne peut garantir l'exactitude et l'exhaustivité de ces informations. En conséquence, On ne peut être tenue responsable des dommages directs ou indirects résultant de l'utilisation de ce site.</p>

        <h2>Liens externes</h2>
        <p>Ce site peut contenir des liens vers des sites externes. On n'a aucun contrôle sur ces sites et ne peut donc pas être tenue responsable de leur contenu ou de leurs pratiques en matière de confidentialité.</p>

        <h2>Modification des mentions légales</h2>
        <p>On se réserve le droit de modifier ces mentions légales à tout moment et sans préavis. Il est recommandé aux utilisateurs de ce site de consulter régulièrement cette page pour rester informés des éventuelles modifications.</p>

        <h2>Contact</h2>
    </div>
{% endblock %}
